// ::::::::::::::::Variables:::::::::::::::::::::

// Fonte
$font-default:'Roboto', sans-serif;
// Fim Fonte

// Cores
$color-body-default:#F2F5F8;
$color-txt-default:#828282;
$color-white-default:#FFFFFF;
$color-red-default: #F51344;
$color-border-default: #e6e6e6;
$color-border-input-default: #ddd;
$color-input-disabled: #f2f5f8;
// Fim Cores

// tamanhos media query

$mobile: 754px;

// FIM tamanhos media query